.signUpimage {
    width: 100%;  /* Or whatever */
    height: 100%; /* Or whatever */
    position: absolute;
    margin-right: -360px; /* Magic! */
    margin-top: -60px;
}

.left-half {
    background-color: #1569e0;
    position: absolute;
    left: 0px;
    width: 30%;
    height: 100%;
  }
  
.right-half {
    background-color: #fff;;
    position: absolute;
    right: 0px;
    width: 70%;
    height: 100%;
  }

.style_heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px!important;
    color: #000;
    margin-left: 300px;
    position: absolute;
    
}

.style__text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 16px!important;
  color: #000;
  margin-left: 300px;
  margin-top: 80px;
  position: absolute;
  
}

.containerNew {
  margin-left: 100px;
  margin-top: 230px;
  position: absolute;
}

input[type=text], input[type=password], input[type=number] {
  width: 300px;
  padding: 15px;
  margin: 5px 0 22px 0;
  /* display: inline-block; */
  border: none;
  background: #f1f1f1;
}

.firstName {
  position: absolute;;
  top:20px;
  right: px;
  width: 500px;
}

.lastName{
  position: absolute;
  top:20px;
  right: -380px;;
  width: 300px;
}

.labelLastName {
  position: absolute;
  top:0px;
  right: -130px;;
}